<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
<title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE" >LINKIN VIETNAM</title>
<meta content="linkin.vn" name="author" />
<link rel="shortcut icon" th:href="@{/admin/images/favicon.png}" type="image/png" />
<link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/admin/css/icons.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/admin/css/style.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/admin/plugins/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/admin/plugins/datatables/dataTables.checkboxes.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/admin/plugins/datatables/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/admin/css/jquery.datetimepicker.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- jQuery  -->
<script th:src="@{/admin/js/jquery.min.js}"></script>
<script th:src="@{/admin/js/popper.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/js/modernizr.min.js}"></script>
<script th:src="@{/admin/js/detect.js}"></script>
<script th:src="@{/admin/js/fastclick.js}"></script>
<script th:src="@{/admin/js/jquery.slimscroll.js}"></script>
<script th:src="@{/admin/js/jquery.blockUI.js}"></script>
<script th:src="@{/admin/js/waves.js}"></script>
<script th:src="@{/admin/js/jquery.nicescroll.js}"></script>
<script th:src="@{/admin/js/jquery.scrollTo.min.js}"></script>
<script th:src="@{/admin/js/jquery.datetimepicker.full.js}"></script>
<!-- Required datatable js -->
<script th:src="@{/admin/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/admin/plugins/datatables/dataTables.checkboxes.min.js}"></script>
<script src="//cdn.ckeditor.com/4.10.1/full/ckeditor.js"></script>
<script>
	$.datetimepicker.setLocale('vi');
	$(function() {
		$('input.number').keyup(function(event) {

			// skip for arrow keys
			if (event.which >= 37 && event.which <= 40) return;

			// format number
			$(this).val(function(index, value) {
				return formatNumber(value);
			});
		});
		$('input.number').each(function(index, value) {
			$(this).val(function(index, value) {
				return formatNumber(value);
			});
		});
	});
	function formatNumber(value) {
		return String(value)
		.replace(/\D/g, "")
		.replace(/\B(?=(\d{3})+(?!\d))/g, ".");
	}
	function getOnlyDigit(value) {
		return String(value).replace(/[^0-9]/g, "");
	}
	function parseNumber() {
		$('input.number').each(function(index, value) {
			$(this).val(function(index, value) {
				return getOnlyDigit(value);
			});
		});
		return true;
	}
</script>
</head>
<body class="fixed-left">
	<div id="preloader">
		<div id="status">
			<div class="spinner"></div>
		</div>
	</div>
	<div id="wrapper">
		<div th:replace="admin/common/leftmenu::left-menu"></div>
		<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div th:replace="admin/common/header::header"></div>
				<div class="page-content-wrapper">
					<div class="container-fluid">
						<div layout:fragment="content">empty</div>
					</div>
				</div>
			</div>
			<div th:replace="admin/common/footer::footer"></div>
		</div>
	</div>
	<script th:src="@{/admin/js/app.js}"></script>
</body>
</html>